@font-face {
	font-family: "RobotoMono";
	font-weight: 700;
	src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoMono";
	font-weight: 600;
	src: url("../fonts/RobotoMono-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoMono";
	font-weight: 500;
	src: url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoMono";
	font-weight: 400;
	src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
}
